.contacto{
    display: grid;
    grid-template-rows: 0.5fr, 2fr;
    grid-gap: 1rem;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    width: auto;
    font-weight: bold;
    background: rgb(220,93,228);
    background: linear-gradient(310deg, rgba(220,93,228,1) 0%, rgba(249,184,10,1) 47%, rgba(220,93,228,1) 100%);
    padding-bottom: 10rem;
    & h1{
      color: $blanco;
      }
    & form{
      font-family: 'Rubik';
      font-weight: normal;
      align-items: right;
      line-height: 2rem;
      font-size: x-large;
      }
    & input{
      margin-bottom: 1.5rem;
      }
    &__boton {
      padding: 3%;
      font-family: 'Rubik';
      font-weight: normal;
      letter-spacing: 1px;
      background-color: $lila;
      border-style: none;
      color: $blanco;
      border-radius: 60px;
      }
    &__boton:hover{
      background-color: $lila;
      color: $negro;
    }
  }