*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img {
  display: block;
  margin: auto;
}

/*-----ESTILOS-----*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

h1{
    padding: 5rem;
    color: #dc5de4;
    text-align: center;
    font-family: 'Rubik';
    font-size: 4rem;
}
p{
  font-family: 'Rubik';
}
a:link, a:visited, a:active, a:hover {
  text-decoration:none;
  font-family: 'Rubik';
  font-weight: normal;
}
a:link{
  color:black;
}
a:visited{
  color: black;
}
a:hover{
  color:#dc5de4;
}
header{
  display: grid;
  grid-template-rows: 2fr, 1fr;
  justify-content: center;
}
header a img{
  max-width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
}
header div{
  background-color: #f9b80a;
}
.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-weight: bolder;
  list-style: none;
  padding: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.navbar li{
  padding: 0.5rem;
}
.nav-link a:hover{
    color:#dc5de4;
}
.me-auto {
  margin-left: auto;
}
.img-carrusel{
  height: 300px;
  object-fit: cover;
}
.texto-carrusel{
  bottom: 37.5%;
  color: #000000;
}
.texto-carrusel a{
  background-color: #dc5de4;
  border-radius:1.5rem;
  width: fit-content;
  color:white;    
  font-weight: normal;
  padding: 2%;
  text-align: center;
  align-self: center;
  transition: transform, 1s;
}
.texto-carrusel a:hover{
  color: #000000;
  transform: scale(1.25);
}
.texto-carrusel h2{
  margin-bottom: 2%;
  font-family: 'Rubik';
  text-align: center;
}
.destacado{
  width: auto;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
}
.destacado h2{
  grid-area: titulo;
  text-align: center;
  font-size: 2rem;
  font-family: 'Rubik';
  color: #dc5de4;
  margin-bottom: 5rem;
}
.destacado div img{
  width: 10rem;
  margin-bottom: 3rem;
}
.prod{
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding-bottom: 5rem;
}
.prod img{
  transition: transform, 1s;
}
.prod img:hover{
  transform: scale(1.25);
}
.footer{
  background-color: black;
  padding: 2rem;
}
.redes{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
}
.redes div{
  display: flex;
  flex-direction: row;
}
.redes h2{
  font-family: 'Rubik';
  text-align: right;
  font-weight: lighter;
  color: #f9b80a;
}
.iconoredes{
  width: 2rem;
  align-self: end;
  margin: 0.5rem;
}
  .cajamail h2{
    font-family: 'Rubik';
    font-weight: lighter;
    color: #f9b80a;
    margin-bottom: 1rem;
  }
  .email{
    padding: 1%;
  }
  .botonmail {
    padding: 1%;
    font-family: 'Rubik';
    font-weight: normal;
    letter-spacing: 1px;
    background-color: #dc5de4;
    border-style: none;
    color: white;
    border-radius: 60px;
    margin-top: 0.5rem;
  }
  .botonmail:hover{
    background-color: #dc5de4;
    color: #000000;
  }
.cosmetologa{
  width: 25rem;
  padding-bottom: 3rem;
}
.catalogo{
  grid-row-gap: 4rem;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  width: auto;
  margin-bottom: 5rem;
  font-family: 'Rubik';
  text-align: center;
  font-weight: bold;
}
.fotocat{
  width: 10rem;
  margin-bottom: 3rem;
  transition: transform, 1s;
}
.fotocat:hover{
  transform: scale(1.25);
}
.contacto{
  display: grid;
  grid-template-rows: 0.5fr, 2fr;
  grid-gap: 1rem;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  width: auto;
  font-weight: bold;
  background: rgb(220,93,228);
  background: linear-gradient(310deg, rgba(220,93,228,1) 0%, rgba(249,184,10,1) 47%, rgba(220,93,228,1) 100%);
  padding-bottom: 10rem;
}
.contacto h1{
  color: white;
}
.contacto form{
  font-family: 'Rubik';
  font-weight: normal;
  align-items: right;
  line-height: 2rem;
  font-size: x-large;
}
.contacto input{
  margin-bottom: 1.5rem;
}
.botcontacto {
  padding: 3%;
  font-family: 'Rubik';
  font-weight: normal;
  letter-spacing: 1px;
  background-color: #dc5de4;
  border-style: none;
  color: white;
  border-radius: 60px;
}
.botcontacto:hover{
  background-color: #dc5de4;
  color: black;
}
.grillaproducto{
  margin-top: 3rem;
}
.grillaproducto p{
  font-family: 'Rubik';
}
.grillaproducto img{
  width: 20rem;
}
.grillaproducto h2{
  text-align: left;
  justify-self: left;
  font-size: 3rem;
  font-family: 'Rubik';
  color: #dc5de4;
  margin-bottom: 2rem;
}
.grillaproducto button{
  padding: 0.5rem;
  font-family: 'Rubik';
  font-weight: normal;
  letter-spacing: 1px;
  background-color: #dc5de4;
  border-style: none;
  color: white;
  border-radius: 60px;
  margin-top: 2rem;
}
.grillaproducto button:hover{
  background-color: #dc5de4;
  color: #000000;
}





  /*-----MEDIA QUERIES-----*/

@media screen and (max-width: 768px) {
  .banner{
    padding: 5rem;
  }
  .banner h2{
    font-size: 2.5rem;
  }
  .banner a{
    padding: 0.8rem;
  }
  .destacado h2{
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
  .prod{
    padding-bottom: 2rem;
  }
  .destacado div img{
    width: 10rem;
  }
  .redes h2{
    padding-bottom: 0rem;
  }
  .iconoredes{
    display: inline;
    margin-left: 1rem;
    width: 2rem;
    align-self: end;
  }
  .cajamail{
    margin-bottom: 1.5rem;
  }
    .cajamail h2{
      margin-bottom: 0.5rem;
    }
    .botonmail {
      padding: 0.3rem;
    }
    .cosmetologa{
      width: 20rem;
    }
    .catalogo h1{
      padding: 3rem;
    }
    .fotocat{
      width: 5rem;
      margin-bottom: 2rem;
    }
    .grillaproducto{
      margin-bottom: 3rem;
    }
    .grillaproducto img{
      width: 15rem;
    }
    .grillaproducto h2{
      font-size: 2rem;
    }
}
@media screen and (max-width: 425px) {
  header{
    display: grid;
    grid-template-rows: 2fr, 1fr;
  }
  header a img{
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
  .banner{
    background-image: url(../img/fondoBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding: 2rem;
  }
  .banner h2{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .banner a{
    background-color: #dc5de4;
    border-radius:1.5rem;
    width: fit-content;
    color:white;    
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
    align-self: center;
  }
  .banner a:hover{
    color: #000000;
  }
  .destacado h2{
    grid-area: titulo;
    text-align: center;
    font-size: 1.5rem;
    color: #dc5de4;
    padding: 1rem;
  }
  .prod{
    padding-bottom: 1rem;
  }
  .destacado div img{
    width: 5rem;
  }
  .destacado a{
    font-size: small;
  }
  .redes{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
  }
  .redes h2{
    text-align: right;
    font-weight: lighter;
    color: #f9b80a;
  }
  .redes div{
    display: flex;
    flex-direction: row;
    padding-top: 0rem;
  }
  .iconoredes{
    width: 2rem;
    align-self: end;
    margin-left: 1rem;
  }
  .cajamail h2{
      font-weight: lighter;
      margin-bottom: 0.5rem;
  }
  .email{
      margin-bottom: 0rem;
  }
  .cosmetologa{
    padding-bottom: 3rem;
  }
  #fotoproductos{
    grid-area: productos;
    width: 425px;
  }
  .catalogo{
      justify-content: space-evenly;
      justify-items: center;
      align-items: center;
      width: auto;
      margin-bottom: 3rem;
      text-align: center;
  }
  .catalogo h1{
      font-size: 2rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 0rem;
      padding-right: 0rem;
  }
  .fotocat{
      width: 5rem;
  }
  .grillaproducto{
  display: grid;
  grid-template-rows: 0.5fr, 2fr;
  grid-template-columns: 1fr, 2fr, 2fr;
  grid-gap: 1rem;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  width: auto;
  grid-template-areas: "titulo titulo" "foto foto" "texto texto";
  margin: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  }
  .grillaproducto img{
  grid-area: foto;
  width: 10rem;
  }
  .grillaproducto h2{
  text-align: center;
  justify-self: center;
  font-size: 2rem;
  }
  .grillaproducto div{
  grid-area: texto;
  text-align: left;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: large;
  line-height: 1.5rem;
  align-self: center;
  }
}