@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header div {
  background-color: #f9b80a;
}

header svg {
  max-width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

.navbar navbar-expand-lg navbar-light bg-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row, nowrap;
          flex-flow: row, nowrap;
  justify-items: start;
  list-style: none;
  margin-top: 1rem;
}

.navbar navbar-expand-lg navbar-light bg-lightli {
  padding: 0rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #dc5de4;
}

.me-auto {
  margin-left: auto;
  justify-items: space-around;
}

.navbar-toggler {
  border: 0rem;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.carrusel__img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carrusel__texto {
  bottom: 37.5%;
  color: #000000;
}

.carrusel__texto h2 {
  margin-bottom: 2%;
  font-family: 'Rubik';
  background-color: #ffffff;
  padding: 0.5rem;
}

.destacado {
  width: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.destacado h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Rubik';
  color: #dc5de4;
  margin-bottom: 5rem;
}

.destacado__prod {
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding-bottom: 5rem;
}

.destacado__prod img {
  width: 10rem;
  margin-bottom: 3rem;
  -webkit-transition: 1s, -webkit-transform;
  transition: 1s, -webkit-transform;
  transition: transform, 1s;
  transition: transform, 1s, -webkit-transform;
}

.destacado__prod img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Rubik;
}

.acercade p {
  font: normal 1rem/2rem Rubik;
}

.acercade__cosmetologa {
  width: 25rem;
  padding-bottom: 3rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Rubik;
}

.catalogo {
  grid-row-gap: 4rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin-bottom: 5rem;
  font-family: 'Rubik';
  text-align: center;
  font-weight: bold;
}

.catalogo__img, .footer__redes__icon img {
  width: 10rem;
  margin-bottom: 3rem;
  -webkit-transition: 1s, -webkit-transform;
  transition: 1s, -webkit-transform;
  transition: transform, 1s;
  transition: transform, 1s, -webkit-transform;
}

.catalogo__img:hover, .footer__redes__icon img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.grillaproducto {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.grillaproducto img {
  width: 20rem;
}

.grillaproducto h2 {
  text-align: left;
  -ms-grid-column-align: left;
      justify-self: left;
  font-size: 3rem;
  font-family: 'Rubik';
  color: #dc5de4;
  margin-bottom: 2rem;
}

.grillaproducto button {
  padding: 0.5rem;
  font-family: 'Rubik';
  font-weight: normal;
  letter-spacing: 1px;
  background-color: #dc5de4;
  border-style: none;
  color: #ffffff;
  border-radius: 60px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.grillaproducto button:hover {
  background-color: #dc5de4;
  color: #000000;
}

.grillaproducto__texto {
  font: normal 1rem/2rem Rubik;
}

.grillaproducto__precio {
  font: normal 1rem/2rem Rubik;
  font-size: 1.5rem;
  color: #f9b80a;
}

.carrito {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.carrito button {
  padding: 0.3rem;
  font-family: 'Rubik';
  font-weight: normal;
  letter-spacing: 1px;
  background-color: #f9b80a;
  border-style: none;
  color: #ffffff;
  border-radius: 60px;
}

.carrito button:hover {
  background-color: #f9b80a;
  color: #000000;
}

.carrito h4 {
  color: #000000;
}

.carrito__producto {
  width: 10rem;
}

.carrito__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 3rem;
  border: solid;
  color: #dc5de4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrito__descripcion h4 {
  font: normal 1rem/2rem Rubik;
  font-size: 1.5rem;
}

.carrito__texto {
  font: normal 1rem/2rem Rubik;
  color: #000000;
  font-size: 1rem;
}

.carrito__total {
  font-size: 1.5rem;
  color: #f9b80a;
}

.carrito__precio {
  border: solid;
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #dc5de4;
}

.contacto {
  width: auto;
  background: linear-gradient(310deg, #dc5de4 0%, #f9b80a 47%, #dc5de4 100%);
  padding-bottom: 10rem;
}

.contacto h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Rubik;
  color: #ffffff;
  padding-top: 5rem;
  margin-top: 0rem;
}

.contacto__form {
  font-family: 'Rubik';
  font-weight: normal;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  line-height: 2rem;
  font-size: large;
  padding-left: 30%;
  padding-right: 25%;
}

.contacto input {
  margin-bottom: 1.5rem;
}

.contacto__boton {
  margin-top: 1rem;
  padding: 1%;
  font-family: 'Rubik';
  letter-spacing: 1px;
  background-color: #dc5de4;
  border-style: none;
  color: #ffffff;
  border-radius: 60px;
}

.contacto__boton:hover {
  background-color: #dc5de4;
  color: #000000;
}

.footer {
  background-color: #000000;
  padding: 2rem;
}

.footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer__redes__texto {
  font-family: Rubik;
  font-size: 2rem;
  color: #f9b80a;
  line-height: normal;
  font-weight: lighter;
  text-align: right;
}

.footer__redes__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__redes__icon img {
  width: 2rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 0.5rem;
}

.footer__mail__texto {
  font-family: Rubik;
  font-size: 2rem;
  color: #f9b80a;
  line-height: normal;
  font-weight: lighter;
  text-align: left;
  margin-bottom: 1rem;
}

.footer__mail__input {
  padding: 1%;
}

.footer__copyright {
  font: normal 1rem/2rem Rubik;
  color: gray;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

h1 {
  margin-top: 5rem;
  margin-bottom: 6rem;
  color: #dc5de4;
}

a {
  text-decoration: none;
  font-family: "Rubik";
  font-weight: normal;
  color: #000000;
}

a:hover {
  color: #dc5de4;
}

.boton {
  padding: 1%;
  font-family: 'Rubik';
  font-weight: normal;
  letter-spacing: 1px;
  background-color: #dc5de4;
  border-style: none;
  color: #ffffff;
  border-radius: 60px;
  margin-top: 0.5rem;
}

.boton:hover {
  color: #000000;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  .destacado__prod {
    padding-bottom: 2rem;
  }
  .acercade p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .acercade__cosmetologa {
    width: 20rem;
  }
  .footer__mail {
    margin-bottom: 1.5rem;
  }
  .footer__mail h2 {
    margin-bottom: 0.5rem;
  }
  .footer__mail__boton {
    padding: 0.3rem;
  }
  .catalogo h1 {
    padding: 3rem;
  }
  .catalogo__img, .footer__redes__icon img {
    width: 5rem;
    margin-bottom: 2rem;
  }
  .grillaproducto {
    margin-bottom: 3rem;
  }
  .grillaproducto img {
    width: 15rem;
  }
  .grillaproducto h2 {
    font-size: 2rem;
  }
  .grillaproducto .grillaproducto__texto {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .contacto__form {
    justify-items: center;
    padding-left: 25%;
    padding-right: 25%;
  }
  .contacto input {
    margin-bottom: 0.5rem;
  }
  .contacto__boton {
    padding: 1.5%;
  }
  .contacto h1 {
    margin-top: 0rem;
    padding-top: 3rem;
    margin-bottom: 3.5rem;
    font-size: 3rem;
  }
  .footer__redes h2 {
    padding-bottom: 0rem;
  }
  .footer__redes__icon img {
    margin-left: 1rem;
    width: 3.5rem;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 2rem;
  }
  header svg {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-top: 0rem;
  }
  .destacado {
    margin-bottom: 3rem;
  }
  .destacado h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  .destacado a {
    font-size: small;
  }
  .destacado__prod {
    padding-bottom: 1rem;
  }
  .destacado__prod img {
    width: 5rem;
  }
  .acercade p {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .acercade__cosmetologa {
    width: 18rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
  }
  .acercade h1 {
    font-size: 2.5rem;
  }
  .catalogo {
    margin-bottom: 3rem;
  }
  .catalogo h1 {
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .catalogo__img, .footer__redes__icon img {
    width: 5rem;
  }
  .grillaproducto {
    margin-bottom: 5rem;
  }
  .grillaproducto img {
    width: 10rem;
  }
  .grillaproducto h2 {
    text-align: left;
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 2rem;
    margin-left: 2rem;
  }
  .grillaproducto input {
    margin-top: 0.5rem;
    margin-left: 2rem;
  }
  .grillaproducto__texto {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .grillaproducto__precio {
    margin: 2rem;
  }
  .contacto__form {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .contacto input {
    margin-bottom: 0.5rem;
  }
  .contacto__boton {
    padding: 1.5%;
  }
  .contacto h1 {
    margin-top: 0rem;
    padding-top: 3rem;
    margin-bottom: 3.5rem;
    font-size: 2rem;
  }
  .footer__redes__icon {
    padding-top: 0rem;
  }
  .footer__redes__icon img {
    width: 2rem;
    margin-left: 1rem;
  }
  .footer__redes__texto {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .footer__mail__texto {
    font-size: 1.5rem;
  }
  .footer__mail__input {
    margin-bottom: 0rem;
  }
}
/*# sourceMappingURL=main.css.map */