.carrusel__img{
    height: 300px;
    object-fit: cover;
}
.carrusel__texto{
    bottom: 37.5%;
    color: $negro;
    & h2{
    margin-bottom: 2%;
    font-family: 'Rubik';
    background-color: $blanco;
    padding: 0.5rem;
    }
}