.cart-modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 2;
  transform: translateY(-250%);
  transition: .5s ease-out;
}
.cart-modal-overlay.open {
  transform: translateY(-128%);
}
.cart-modal {
  height: 100vh;
  width: 50%;
  background-color: $amarillo;
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: .5em 2em 0 0;
  color: $negro;
  cursor: pointer;
}

.descuento {
  padding-left: 2rem;
  padding-top: 1rem;
}

.botoncarrito {
  margin-bottom: 1rem;
}

.textocarrito {
  font: $texto;
}

.totalcarrito {
  font-size: 1.5rem;;
}

@media (max-width: 1000px){
  .cart-modal {
    width: 100vw;
  }
}