h1{
  @include titulo1(center, 4rem, Rubik)
}
.catalogo{
    grid-row-gap: 4rem;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    width: auto;
    margin-bottom: 5rem;
    font-family: 'Rubik';
    text-align: center;
    font-weight: bold;
    &__img{
      width: 7rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
      transition: transform, 1s;
      }
    &__img:hover{
      transform: scale(1.25);
      }
  }
  .cantidad{
    width: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }