img {
  display: block;
  margin: auto;
}
h1{
    margin-top: 5rem;
    margin-bottom: 6rem;
    color: $lila;
}
a{
  text-decoration: none;
  font-family: "Rubik";
  font-weight: normal;
  color: $negro;
  &:hover{
  color: $lila
  }
}
.boton{
  padding: 1%;
  font-family: 'Rubik';
  font-weight: normal;
  letter-spacing: 1px;
  background-color: map-get($colores, lila);
  border-style: none;
  color: map-get($colores, blanco);
  border-radius: 60px;
  margin-top: 0.5rem;
  &:hover{
  color: map-get($colores, negro);
  }
}

p{
  margin-bottom: 0.5rem;
}
.swal-text{
  font-family: 'Rubik';
  color: $negro;
}
.swal-button{
  font-family: 'Rubik';
  letter-spacing: 3px;
  background-color: map-get($colores, lila);
  border-style: none;
  border-radius: 60px;
  color: map-get($colores, blanco);
  &:hover{
    background-color: map-get($colores, lila);
    color: map-get($colores, negro);
  }
}
.swal-overlay{
  background-color: rgba(220,93,228,.45);
}