.footer{
    background-color: map-get($colores, negro);
    padding: 2rem;
    &__redes{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: start;
        &__texto{
            @include textofooter (Rubik, 2rem, map-get($colores, amarillo), normal, lighter);
            text-align: right;
        }
        &__icon{
        display: flex;
        flex-direction: row;
            & img{
                @extend .catalogo__img;
                width: 2rem;
                align-self: end;
                margin: 0.5rem;
            }
        }
    }
    &__mail{
        &__texto{
            @include textofooter (Rubik, 2rem, map-get($colores, amarillo), normal, lighter);
            text-align: left;
            margin-bottom: 1rem;
        }
        &__input{
            padding: 1%;
        }
        &__boton{
            padding: 1%;
            font-family: 'Rubik';
            font-weight: normal;
            letter-spacing: 1px;
            background-color: map-get($colores, lila);
            border-style: none;
            color: map-get($colores, blanco);
            border-radius: 60px;
            margin-top: 0.5rem;
        }
        &__boton:hover{
            color: map-get($colores, negro);
        }
    }
    &__copyright{
        font: $texto;
        color: gray;
        text-align: center;
    }
}