.footer{
    background-color: map-get($colores, negro);
    padding: 2rem;
    &__redes{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: start;
        }
        & p{
            font-size: 2rem;
            font-family: 'Rubik';
            text-align: right;
            font-weight: lighter;
            line-height: normal;
            color: map-get($colores, amarillo);
            }
    &__redes__icon{
        display: flex;
        flex-direction: row;
        }
            & img{
            @extend .catalogo__img;
            width: 2rem;
            align-self: end;
            margin: 0.5rem;
            }
    &__mail p{
      font-size: 2rem;
      text-align: left;
      font-family: 'Rubik';
      font-weight: lighter;
      line-height: normal;
      color: map-get($colores, amarillo);
      margin-bottom: 1rem;
      }
        &__input{
            padding: 1%;
            }
.footer__mail__boton{
            padding: 1%;
            font-family: 'Rubik';
            font-weight: normal;
            letter-spacing: 1px;
            background-color: map-get($colores, lila);
            border-style: none;
            color: map-get($colores, blanco);
            border-radius: 60px;
            margin-top: 0.5rem;
            }
.footer__mail__boton:hover{
            color: map-get($colores, negro);
            }
}