.grillaproducto{
    margin-top: 3rem;
    margin-bottom: 4rem;
    & img{
      width: 20rem;
      }
    & h2{
      text-align: left;
      justify-self: left;
      font-size: 3rem;
      font-family: 'Rubik';
      color: $lila;
      margin-bottom: 2rem;
      }
    & button{
      padding: 0.5rem;
      font-family: 'Rubik';
      font-weight: normal;
      letter-spacing: 1px;
      background-color: $lila;
      border-style: none;
      color: $blanco;
      border-radius: 60px;
      margin-top: 2rem;
      }
    & button:hover{
      background-color: $lila;
      color: $negro;
    }
.grillaproducto__texto{
      font: $texto;
    }
.grillaproducto__precio{
  font: $texto;
  font-size: 1.5rem;
  color: $amarillo;
}
  }