.navbar navbar-expand-lg navbar-light bg-light{
    display: flex;
    flex-flow: row, nowrap;
    justify-items: start;
    list-style: none;
    margin-top: 1rem;
    &li{
    padding: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    }
  }
  .navbar-nav .nav-item:hover .nav-link {
    color: $lila;
  }
  .me-auto {
    margin-left: auto;
    justify-items: space-around;
  }
  .navbar-toggler{
    border: 0rem;
    &:focus{
    box-shadow: none;
    }
  }